@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: Outfit;
  max-width: 1440px;
  width: 100%;
  height: 34.375em;
  background-color: hsl(212, 45%, 89%);
}
.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  max-width: 320px;
  height: 31.0625em;
  border-radius: 1.25em;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  padding-left: 1.1875em;
  padding-right: 0.8125em;
}

.first-block {
  max-width: 288px;
  height: 19em;
  padding-top: 1em;
}
img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 0.625em;
}

.second-block {
  padding-left: 1.1875em;
  padding-right: 1.1875em;
}

h1 {
  color: #1f314f;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Outfit;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p {
  color: #7d889e;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.188px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
